/* Estilos específicos para el formulario */
form {
  background-color: #0A0D14;
  padding: 20px;
  border-radius: 8px;
}

.form-label, .alert {
  color: #FFFFFF;
}

.form-control, .form-select {
  background-color: #556FF7;
  border: none;
  color: #FFFFFF;
}

.form-control::placeholder, .form-select::placeholder {
  color: #FFFFFF;
}

.form-control:focus, .form-select:focus {
  background-color: #556FF7;
  border-color: #FFFFFF;
}

.btn-primary {
  background-color: #556FF7;
  border: none;
}

.alert-info {
  background-color: #0A0D14;
  color: #FFFFFF;
  border: 1px solid #556FF7;
}

.alert-success {
  background-color: #556FF7;
  color: #FFFFFF;
}

.alert-danger {
  background-color: #FF4C4C;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}